*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
}
h2 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
}

.container {
 /*  border:  1px solid red; */
}

/* Swiper container stylng */
.swiper {
  right: 1rem;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.logo-farma {
  height: 68px;
  background-size: contain;
  background-repeat: no-repeat;
}

.swiper-slide img {
  width: 100%;
  height: auto;
}

.farma-1 {
  width: 190px;
  background-image: url("./img/farma-1.png");
}
.farma-2 {
  width: 360px;
  background-image: url("./img/farma-2.png");
}
.farma-3 {
  width: 190px;
  background-image: url("./img/farma-3.png");
}
.farma-4 {
  width: 110px;
  background-image: url("./img/farma-4.png");
}
.farma-5 {
  width: 130px;
  background-image: url("./img/farma-5.png");
}
.farma-6 {
  width: 250px;
  background-image: url("./img/farma-6.png");
}
.farma-7 {
  width: 80px;
  background-image: url("./img/farma-7.png");
}
.farma-8 {
  width: 95px;
  background-image: url("./img/farma-8.png");
}
.farma-9 {
  width: 240px;
  background-image: url("./img/farma-9.png");
}
.farma-10 {
  width: 350px;
  background-image: url("./img/farma-10.png");
}
.farma-11 {
  width: 400px;
  background-image: url("./img/farma-11.png");
}
.farma-12 {
  width: 240px;
  background-image: url("./img/farma-12.png");
}
.farma-13 {
  width: 380px;
  background-image: url("./img/farma-13.png");
}
.farma-14 {
  width: 200px;
  background-image: url("./img/farma-14.png");
}
.farma-15 {
  width: 110px;
  background-image: url("./img/farma-15.png");
}
.farma-16 {
  width: 310px;
  background-image: url("./img/farma-16.png");
}
.farma-17 {
  width: 130px;
  background-image: url("./img/farma-17.png");
}


.floating {
  animation: floatAnimation 3s ease-in-out infinite;
}
.floating-2 {
  animation: floatAnimation 3s 1s ease-in-out infinite;
}

@keyframes floatAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}